@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Geologica', sans-serif;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    cursor: none;
    overflow: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
.cursor{
    display: none;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    border-radius: 50%;
    padding: 8px;
    background-color: var(--primary-color);
    transform-style: preserve-3d;
    perspective: 1000px;
}
.confetti{
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}
.cover{
    position: absolute;
    width: 1024px;
    height: 500px;
    margin-top: calc(-250px + 60px);
    background-color: var(--tertiary-color);
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 220px);
}
.container {
    width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.container-focus-lost{
    transition: transform 0.5s ease-in-out;
}
.years {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 120px;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.year {
    display: flex;
    flex-direction: column;
    width: 75px;
    height: 120px;
    transition-duration: 1.75s;
    transition-property: transform;
    transition-timing-function: ease;
    transform-style: preserve-3d;
}
.year-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 120px;
    font-size: 120px;
    font-weight: 800;
    color: var(--primary-color);
}
.year-val-0{
    transform: rotateX(0deg) translate3d(0, 0, 184.66px);
}
.year-val-9{
    transform: rotateX(36deg) translate3d(0, 0, 184.66px);
}
.year-val-8{
    transform: rotateX(72deg) translate3d(0, 0, 184.66px);
}
.year-val-7{
    transform: rotateX(108deg) translate3d(0, 0, 184.66px);
}
.year-val-6{
    transform: rotateX(144deg) translate3d(0, 0, 184.66px);
}
.year-val-5{
    transform: rotateX(180deg) translate3d(0, 0, 184.66px);
}
.year-val-4{
    transform: rotateX(216deg) translate3d(0, 0, 184.66px);
}
.year-val-3{
    transform: rotateX(252deg) translate3d(0, 0, 184.66px);
}
.year-val-2{
    transform: rotateX(288deg) translate3d(0, 0, 184.66px);
}
.year-val-1{
    transform: rotateX(324deg) translate3d(0, 0, 184.66px);
}
.fracs {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 40px;
    padding: 0 16px;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform: translate3d(0, 0, 155.56px);
}
.frac{
    position: relative;
    display: flex;
    width: 30px;
    flex-direction: column;
    transition-property: transform;
    transition-timing-function: ease;
    transform-style: preserve-3d;
}
.frac-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    min-height: 40px;
    height: 40px;
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 800;
}
.frac-val-0{
    transform: rotateX(0deg) translate3d(0, 0, 61.55px);
}
.frac-val-9{
    transform: rotateX(36deg) translate3d(0, 0, 61.55px);
}
.frac-val-8{
    transform: rotateX(72deg) translate3d(0, 0, 61.55px);
}
.frac-val-7{
    transform: rotateX(108deg) translate3d(0, 0, 61.55px);
}
.frac-val-6{
    transform: rotateX(144deg) translate3d(0, 0, 61.55px);
}
.frac-val-5{
    transform: rotateX(180deg) translate3d(0, 0, 61.55px);
}
.frac-val-4{
    transform: rotateX(216deg) translate3d(0, 0, 61.55px);
}
.frac-val-3{
    transform: rotateX(252deg) translate3d(0, 0, 61.55px);
}
.frac-val-2{
    transform: rotateX(288deg) translate3d(0, 0, 61.55px);
}
.frac-val-1{
    transform: rotateX(324deg) translate3d(0, 0, 61.55px);
}

.frac-0{
    transition-duration: 1.5s;
}
.frac-1{
    transition-duration: 1.3125s;
}
.frac-2{
    transition-duration: 1.125s;
}
.frac-3{
    transition-duration: 0.9375s;
}
.frac-4{
    transition-duration: 0.75s;
}
.frac-5{
    transition-duration: 0.5625s;
}
.frac-6{
    transition-duration: 0.375s;
}
.frac-7{
    transition-duration: 0.1875s;
}